*{
	margin: 0px;
	padding: 0px;	
}
table {
	margin: 0px auto;
}
table.navbar {
   border-collapse: collapse;
}
td.tablelink {
   border: 1px solid black;
   width: 370px;
   height: 70px;
   overflow: hide;
}
tr.tablelink:nth-child(odd) {
   background-color: #666666;
}
tr.tablelink {
   background-color: #8B8B8B;
}
table.navbar td a{
   display: block;
   width: 370px;
   height: 70px;
   padding: 3px;
   text-decoration: none;
   white-space:nowrap;
}
a.boxlink:link, a.boxlink:visited {
   color: #FFF;
}

a.boxlink:hover, a.boxlink:active {
   color: #fff;
   background-color: #CCCCCC;
}
html{
	height: 100%;
	width: 100%;
}

body{
	height: 100%;
	width: 100%;
}

#main{
	
	height: 100%;
	margin-top: -16px;
	padding-top: 16px;
	width: 390px;
	-moz-box-sizing: border-box;
	background-color: gray;
}