<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Login</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Loginservlet</display-name>
    <servlet-name>Loginservlet</servlet-name>
    <servlet-class>project1.Loginservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Loginservlet</servlet-name>
    <url-pattern>/Loginservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Secservlet</display-name>
    <servlet-name>Secservlet</servlet-name>
    <servlet-class>project1.Secservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Secservlet</servlet-name>
    <url-pattern>/Secservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UnsetSessionServlet</display-name>
    <servlet-name>UnsetSessionServlet</servlet-name>
    <servlet-class>project1.UnsetSessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UnsetSessionServlet</servlet-name>
    <url-pattern>/UnsetSessionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>project1.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeAccServlet</display-name>
    <servlet-name>ChangeAccServlet</servlet-name>
    <servlet-class>project1.ChangeAccServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeAccServlet</servlet-name>
    <url-pattern>/ChangeAccServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserInfoServlet</display-name>
    <servlet-name>UserInfoServlet</servlet-name>
    <servlet-class>project1.UserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserInfoServlet</servlet-name>
    <url-pattern>/UserInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MsgAppServlet</display-name>
    <servlet-name>MsgAppServlet</servlet-name>
    <servlet-class>project1.MsgAppServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MsgAppServlet</servlet-name>
    <url-pattern>/MsgAppServlet</url-pattern>
  </servlet-mapping>
</web-app>